.container{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 2fr 5fr;
    
    gap: 15px;
    border: 2px solid blue;
}

.container .a1, .a2, .a3, .a4, .a5, .a6{
    border: 2px solid red;
}